# VS Code 설정 파일
.vscode/

# Python 기본
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.log
*.pot
*.pyc

# 환경 설정 및 가상환경
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Anaconda 관련
*.conda
*.ipynb_checkpoints
*.h5
*.hdf5
*.db
*.sqlite
*.pkl
*.joblib

# Jupyter Notebook 출력
.ipynb_checkpoints/
*.nbconvert.ipynb

# OS 및 에디터 임시 파일
.DS_Store
Thumbs.db
desktop.ini

# 기타 캐시 및 백업
.cache/
*.bak
*.swp
*.tmp

# Git 자체
.git/